/* Write your code here: */
h1, h2{
    color: violet;
}


.box > p {
    color: firebrick;
}

/*decendent*/
.box li{
    color: blue;
}

/*Chaining*/
li.done{
    color: seagreen;
}

/*combining combiners*/
ul > p.done{
    font-size: 0.5em;
}

